SQL WHERE

In [ ]:
SELECT * FROM Customers
WHERE Country='Mexico';

In [ ]:
SELECT * FROM Customers
WHERE CustomerID=1;

In [ ]:
SELECT * FROM Customers
WHERE CustomerID > 80;

SQL ORDER BY

In [ ]:
SELECT * FROM Products
ORDER BY Price;

In [ ]:
SELECT * FROM Products
ORDER BY Price DESC;

In [ ]:
SELECT * FROM Products
ORDER BY ProductName;

In [ ]:
SELECT * FROM Customers
ORDER BY Country ASC, CustomerName DESC;

SQL AND

In [ ]:
SELECT *
FROM Customers
WHERE Country = 'Spain' AND CustomerName LIKE 'G%';

In [ ]:
SELECT * FROM Customers
WHERE Country = 'Brazil'
AND City = 'Rio de Janeiro'
AND CustomerID > 50;

In [ ]:
SELECT * FROM Customers
WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');

In [ ]:
SELECT * FROM Customers
WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');

SQL OR

In [ ]:
SELECT *
FROM Customers
WHERE Country = 'Germany' OR Country = 'Spain';

In [ ]:
SELECT * FROM Customers
WHERE City = 'Berlin' OR CustomerName LIKE 'G%' OR Country = 'Norway';

In [ ]:
SELECT * FROM Customers
WHERE Country = 'Spain' AND (CustomerName LIKE 'G%' OR CustomerName LIKE 'R%');

In [ ]:
SELECT * FROM Customers
WHERE Country = 'Spain' AND CustomerName LIKE 'G%' OR CustomerName LIKE 'R%';

SQL NOT

In [ ]:
SELECT * FROM Customers
WHERE NOT Country = 'Spain';

In [ ]:
SELECT * FROM Customers
WHERE CustomerName NOT LIKE 'A%';

In [ ]:
SELECT * FROM Customers
WHERE CustomerID NOT BETWEEN 10 AND 60;

In [ ]:
SELECT * FROM Customers
WHERE City NOT IN ('Paris', 'London');

In [ ]:
SELECT * FROM Customers
WHERE NOT CustomerID > 50;

SQL MIN() and MAX()

In [ ]:
SELECT MIN(Price)
FROM Products;

In [ ]:
SELECT MAX(Price)
FROM Products;

SQL COUNT()

In [ ]:
SELECT COUNT(*)
FROM Products;

In [ ]:
SELECT COUNT(ProductName)
FROM Products;

In [ ]:
SELECT COUNT(ProductID)
FROM Products
WHERE Price > 20;

SQL SUM()

In [ ]:
SELECT SUM(Quantity)
FROM OrderDetails;

In [ ]:
SELECT SUM(Quantity)
FROM OrderDetails
WHERE ProductId = 11;

In [ ]:
SELECT SUM(Quantity) AS total
FROM OrderDetails;

SQL AVG()

In [ ]:
SELECT AVG(Price)
FROM Products;

In [ ]:
SELECT AVG(Price)
FROM Products
WHERE CategoryID = 1;

In [ ]:
SELECT * FROM Products
WHERE price > (SELECT AVG(price) FROM Products);

SQL LIKE

In [ ]:
SELECT * FROM Customers
WHERE CustomerName LIKE 'a%';

In [ ]:
SELECT * FROM Customers
WHERE city LIKE '%L%';

In [ ]:
SELECT * FROM Customers
WHERE CustomerName LIKE 'a%' OR CustomerName LIKE 'b%';

In [ ]:
SELECT * FROM Customers
WHERE CustomerName LIKE '%or%';

SQL IN

In [ ]:
SELECT * FROM Customers
WHERE Country IN ('Germany', 'France', 'UK');

In [ ]:
SELECT * FROM Customers
WHERE Country NOT IN ('Germany', 'France', 'UK');

In [ ]:
SELECT * FROM Customers
WHERE CustomerID IN (SELECT CustomerID FROM Orders);

In [ ]:
SELECT * FROM Customers
WHERE CustomerID NOT IN (SELECT CustomerID FROM Orders);


SQL BETWEEN

In [ ]:
SELECT * FROM Products
WHERE Price BETWEEN 10 AND 20;

In [ ]:
SELECT * FROM Products
WHERE Price NOT BETWEEN 10 AND 20;

In [ ]:
SELECT * FROM Products
WHERE Price BETWEEN 10 AND 20
AND CategoryID IN (1,2,3);

In [ ]:
SELECT * FROM Products
WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
ORDER BY ProductName;

In [ ]:
SELECT * FROM Products
WHERE ProductName NOT BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
ORDER BY ProductName;

In [ ]:
SELECT * FROM Orders
WHERE OrderDate BETWEEN #07/01/1996# AND #07/31/1996#;

SQL GROUP BY

In [ ]:
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country;

In [ ]:
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
ORDER BY COUNT(CustomerID) DESC;